<div class="container mt-5">
  <h1>Welcome to ToDo.rb!</h1>
  <p class="lead">Organize and simplify your life with tasks!</p>
  <div class="mt-4">
    <%= link_to "View Categories", categories_path, class: "btn btn-primary btn-lg me-2" %>
    <%= link_to "View Tasks", tasks_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
